/* Colors */
$brown: #383734;
$blue: #4ECBA9;
$text: #606060;



html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  
}



body,
html {
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
 
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height:100%;
  position: relative;
  

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* --------------- TYPE --------------- */


$p-font-sizes: (
  null: 16px,
  480px: 16px,
  700px: 16px,
  600px: 16px,
  1000px: 20px,
);
$h1-font-sizes: (
  null: 37px,
  400px: 37px,
  700px: 50px,
  990px: 60px
);
$h2-font-sizes: (
  null: 25px,
  480px: 25px,
  600px: 30px
);

$h2-font-sizes-other: (
  null: 30px,
  480px: 30px,
  600px: 40px
);


@mixin font-size($input) {

  @each $brake,
  $size in $input {
    @if $brake ==null {
      font-size: $size;
    }

    @else {
      @media screen and (min-width: $brake) {
        font-size: $size;
      }
    }
  }
}


p {
  @include font-size($p-font-sizes);
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0 auto;
  font-weight: 300
}

h1 {
  @include font-size($h1-font-sizes);
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
}

h2 {
  @include font-size($h2-font-sizes);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0 auto;
  line-height: 1.6;
}


h3 {

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0 auto;
  line-height: 1.6;
}



/* --------------- BUTTON MIXIN --------------- */

@mixin button {


    cursor: pointer;
    text-align: center;
    background-color: $blue;
    padding: 1.3em;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s;
    width: 170px;
    cursor: pointer;

  }


  @media only screen and (max-width: 858px) {

    @mixin button {


      cursor: pointer;
      text-align: center;
      background-color: $blue;
      padding: 1em;
      border-radius: 50px;
      text-decoration: none;
      transition: all 0.5s;
      width: 150px;
      cursor: pointer;
  
    }

}





/* --------------- GLOBAL --------------- */


.wrap {

  width: 90%;
  margin: auto;
  max-width: 1280px;

}


.main-wrap {

  width: 100%;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  

}


/* --------------- SECTION HERO --------------- */


#hero {

  background-color: $brown;
  height: 100vh;
  position: relative;
  overflow: auto;
  overflow: hidden;

  header {

    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    position: absolute;
    right: 0;
    left: 0;
    width: 90%;
  margin: auto;
  max-width: 1280px;

    .logo {


      width: 180px;

    }

    .nav {

      padding: 0;
  

      li {

        padding: 0;
        margin: 0 auto;
        display: inline-block;
        padding-right: 1em;
        cursor: pointer;

      }

      .nav-button{

       background-color: white;
       color: $brown;
       border-radius: 500px;
       padding: 1em 2em 1em 2em;

      }

    }

    @media only screen and (max-width: 858px) {

      .nav{

        display: none;
  
      }

  }

  }


  .hero-con{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding-top: 1em;
    overflow: hidden;
  

    .con{

      padding-right: 2em;
      
       
      h1{
       
        padding-bottom: 0.5em

      }

      .hero-button-wrap{

        display: flex;
        align-items: center;
 
      .button{

        @include button;

      }

     .down-arrow{

       width: 30px ;
       margin-left: 2em;
       cursor: pointer;

     }

     @media only screen and (max-width: 858px) {

      .down-arrow{

      
        margin-left: 0em;
        padding-top: 2em;
        
     
 
      }

  }

    }

    @media only screen and (max-width: 858px) {

      .hero-button-wrap{

        display: flex;
        align-items: center;
        flex-direction: column;
        width: 200px;
        align-items: center;
  
      }

  }

    }

    @media only screen and (max-width: 858px) {

      .con{
  
        position: absolute;
        top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 90%;
      max-width: 1280px;
      margin: auto;
      z-index: 9999;
      padding-top: 5em;
      
  
      }
  
  }

   .hero-img {

      max-width: 560px;
      width: 60%;

      img{

       width: 100%;
       height: 100%;

      }

    }

    @media only screen and (max-width: 986px) {

      .hero-img{

        max-width: 560px;
        width: 50%;
  
      }

  }


  @media only screen and (max-width: 858px) {

    .hero-img{

      max-width: auto;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  right: -290px;
  opacity: 0.2;

    }

}


  }


  @media only screen and (max-width: 858px) {

    .hero-con{

      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding-top: 5em;

    }

}

}





/* --------------- SECTION INTRO --------------- */



#section-intro{



  

  .wrap{

    background-color: #F7F7F7;
    border-radius: 10px;
    position: relative;
    border: solid 4px $brown;
    top: -2em;



    .intro-con{
      

      display: flex;
      justify-content: space-between;
      background-color: #F7F7F7;
      padding: 4em;
      padding-bottom: 0;
      position: relative;
      top: -2em;
      border-radius: 10px;
      gap: 2em;
      
      
      overflow-x: auto;

      h2{

       color: $brown;

       span{
       
        color: $blue;

       }

      }

      p{

         color: $text;

      }


    }


    @media only screen and (max-width: 858px) {

      .intro-con{
      

        flex-direction: column;
        padding: 2em;
        

      }
  
  }


    .intro-spec{

      display: flex;
      padding: 4em;
      padding-top: 4em;
      gap: 2em;
  
      

      .spec{

        border: $brown solid 1px;
        border-radius: 10px;
        padding: 1.5em;
        position: relative;
        text-align: center;

        .icon{

         width: 70px;
         position: absolute;
         top: -35px;
         right: 0;
         left: 0;
         margin: auto;

        }


        h3{

          color: $brown;
          padding: 0;
          margin: 0;
          padding-bottom: 0.5em;
          padding-top: 1em;
          font-weight: bold;


        }

        p{

          color: $text;
          font-size: 16px;
        

        }
 

      }


      @media only screen and (max-width: 858px) {

        .spec{

          min-width: 200px;
          
        }
    
    }
 

    }


    @media only screen and (max-width: 858px) {

      .intro-spec{

  
        overflow-x: auto;
        padding-top: 2em;
       
        

      }::-webkit-scrollbar {
        display: none;
      }
  
  }

  }


  @media only screen and (max-width: 650px) {

    .wrap{

      border: none;
      width: 100%;
      border-radius: 10px 10px 0px 0px;

    }
}


}



#section-products{

  padding-top: 4em;
  padding-bottom: 6em;


  .wrap{

 
       
    h2{

      color: $brown;
      padding-bottom: 1.5em;
      @include font-size($h2-font-sizes-other);
      
      

      span{

        color: $blue;

      }

    }




// --------------------------------------------------------
// -------------------- PRODUCT SECTION ---------------------
// -------------------------------------------------------- 


  .products-wrap{

    margin: auto;
   



    .menu {

      overflow-x: auto;
      position: relative;
      width:100%;
    overflow:scroll;
    white-space: nowrap;




    .shadow-right{
     
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to left,#fff 0%,rgba(255,255,255,0) 69%);
      pointer-events: none;
      z-index: 1;
      width: 80px;


    } 


      ul {

        padding: 0;
        margin: 0;
        display: flex;
        overflow-x: auto;
        padding-bottom: 1em;
        cursor: ew-resize;
       
 

        li {

          display: inline-block;
          padding-bottom: 0em;
          padding-right: 1em;
          padding-left: 1em;
          color: $brown;
          cursor: ew-resize;
          opacity: 0.6;
          
          border-bottom: $brown 5px solid;
          padding-bottom: 1em;
          

          

          &:hover {

            font-weight: bold;
            opacity: 1;

          }

        }

        .on {

          font-weight: bold;
          opacity: 1;
          border-bottom: $blue 5px solid;

        }


      }::-webkit-scrollbar {
        display: none;
      }



      @media only screen and (max-width: 750px) {

      ul{


        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }::-webkit-scrollbar {
        display: none;
      }

      }
    }


 


    .content {

      padding: 0em;
      padding-left: 0em;
      
      padding-top: 1.5em;
      

      #nrp {

        display: none;

      }

      #nra {

        display: none;

      }

      #tpl {

        display: none;

      }

      #ccd {

        display: none;

      }

      #dnl {

        display: none;

      }

      #mpnl {

        display: none;

      }


      #hmsl {

        display: none;

      }


      #opd {

        display: none;

      }


      #fd {

        display: none;

      }

      #prd {

        display: none;

      }


      #dba {

        display: none;

      }

      #ina {

        display: none;

      }


      #dnc {

        display: none;

      }


      #dno {

        display: none;

      }


      #ntd {

        display: none;

      }


      #ss {

        display: none;

      }









      .mob-title {

        display: none;


      }



      .title {
        color: $brown;
        padding: 0;
        margin: 0;
        padding-bottom: 1em;
        
        @include font-size($h2-font-sizes);

      }

   

      @media only screen and (max-width: 981px) {

        .input-wrap{

          background-color: $brown;
          padding: 1em;
          margin-bottom: 2em;

        }
        .mob-title {

          display: block;
          background-color: transparent;
          
          border-radius: 5px;
          
          overflow: auto;
          position: relative;
          border: none;
          width: 100%;
          color: white;
          margin-right: 1em;
          font-size: 16px;
          transition: width 0.2s;
          border-right: 16px solid transparent;
          -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
background-image: url('../img/arrow.png');
background-repeat: no-repeat;
background-position: calc(100% - 3px) center;
background-size: 12px;


        }

        .mob-title-fixed {

          position: fixed;
          z-index: 999;
          top: 0;
          right: 0;
          left: 0;
          border-radius: 0;

        }

        input[type=select]:focus {

          outline: none;
        }

      }

      p {

        color: #6A6A6A;
        padding: 0;
        margin: 0;
        font-size: 18px;
        
        

      }

      ul {

        li {

          color: #6A6A6A;
          font-size: 20px;
          padding-bottom: 0.5em;

          &:last-child {

            padding-bottom: 0;

          }

        }

      }


    }

    @media only screen and (max-width: 981px) {

      .content{

      padding: 0;
      background-color: white;
      padding-top: 1em;

      }


    } 


  }

}

}


#section-more-info{

  padding-bottom: 15em;
  background-color: #F7F7F7;
  padding-top: 6em;

  
  .wrap{

   display: flex;
   align-items: center;
    justify-content: space-between;
    gap: 2em;
    position: relative;
    

    .info-text{

    h2{

     color: $brown;
     padding-bottom: 1em;

     span{
      
      color: $blue;

     }

    }

    p{

     color: $text;

    }

    }

    .bottom-img {

      max-width: 560px;
      width: 60%;

      img{

       width: 100%;
       height: 100%;

      }

    }

    @media only screen and (max-width: 986px) {

      .bottom-img{

        max-width: 560px;
        width: 50%;
  
      }

  }


  @media only screen and (max-width: 858px) {

    .bottom-img{

      max-width: auto;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  right: -190px;
  opacity: 0.1;

    }

}



  }

  


}

@media only screen and (max-width: 837px) {

  #section-more-info{

    padding-bottom: 19em;



  }

}


@media only screen and (max-width: 430px) {

  #section-more-info{

    padding-bottom: 21em;



  }

}


@media only screen and (max-width: 390px) {

  #section-more-info{

    padding-bottom: 23em;



  }
}





footer{

  background-color: $brown;
  position: relative;
  

  .footer-signup{


    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 3em;
    width: 90%;
    max-width: 1280px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: -150px;
    display: flex;
    gap: 3em;
    align-items: center;
    border: solid 4px $brown;

    .signup-text{


     h2{

       color: $brown;
       padding-bottom: 0.5em;

     }

     p{

      color: $text;
      font-size: 16px;

    }

    }

    form{

     padding: 0;
     margin: 0;
     min-width: 40%;


     input{

      background: transparent;
       border: none;
       border-bottom: 1px solid $brown;
       padding: 1em;
       margin-bottom: 0.5em;
       width: 100%;

     }:last-child{

      margin-bottom: 0;

     } 

     input:focus{
      outline: none;
  }

  *:focus {
    outline: none;
}

     .button-terms{
       
      display: flex;
      gap: 3em;
      padding-top: 1em;
      align-items: center;


      p{

       color: $text;
       font-size: 13px;
       a{

        color: $blue;
       }

      }
     
     button{

      @include button;
      border: none;
      color: white;
       
     }

    }

    }

  }


  @media only screen and (max-width: 837px) {

    .footer-signup{



      top: -277px;
      gap: 1.5em;
      
      flex-direction: column;
      padding: 2em;
  

    }

}


@media only screen and (max-width: 430px) {

  .footer-signup{



    top: -300px;
    gap: 1.5em;
    


  }

}



@media only screen and (max-width: 390px) {

  .footer-signup{



    top: -345px;



  }

}

 .wrap{

  
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  padding-top: 10em;
  padding-bottom: 3em;


  .logo{

  width: 170px;

  }

  .nav {

    padding: 0;


    li {

      padding: 0;
      margin: 0 auto;
      display: inline-block;
      padding-right: 1em;
      cursor: pointer;

    }:last-child{

     padding-right: 0;

    }


  }

  @media only screen and (max-width: 858px) {

    .nav{

      display: none;

    }

}

.button{

  @include button;

}


 }

 .footer-bottom{

  background-color: #272624;

   .wrap{

      text-align: center;
      padding: 0;
      padding-top: 1em;
      padding-bottom: 1em;

      p{

       font-size: 13px;

       a{
        
        color: $blue;

       }

      }

   }

 }

}